.container {
  background-color: hsl(217, 54%, 11%);
}


.card-nft {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-nft > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-nft h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-nft p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-nft .card-nft-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-nft-infos .card-nft-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
